
  form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid rgba(198, 86, 86, 0.479);
    border-radius: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"], input[type="password"] {
    width: 100%;
    padding: 5px;
    font-size: 16px;
    border: 1px solid rgb(238, 151, 151);
    border-radius: 5px;
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: rgba(225, 0, 255, 0.517);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

